name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
      
    - name: Testing PowerShell Script
      id: input_step
      run: |
           $val = Get-Service -Name actions.runner.SainiVijayProgram-devops.testvm
           echo ::set-output name=output_var::$val
    - name: Using the powershell value from previous step
      id: output_step
      run: | 
            steps.input_step.outputs.output_var
           
